<h1>Tus Codigos:</h1>


  <table class="table">
    <% @codigos.each do |codigo| %>
      <tr>
        <td> <%= codigo.descripcion %></td>
        <td> <%= codigo.estado %></td>
      </tr>
    <% end %>
  </table>
  
<%= link_to 'Agregar código', codigos_activar_path %>