<h1>Codigos:</h1>


  <table class="table">
  <%if !@codigos.blank? %>
    <% @codigos.each do |codigo| %>
      <tr>
        <td> <%= codigo.descripcion %></td>
        <td> <%= codigo.estado %></td>
        <td> <%= link_to 'Ver', codigo_path(codigo.id)%></td>
        <td> <%= link_to 'Eliminar', codigo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
  
<%= link_to 'Agregar código', new_codigo_path %>
