<%= form_for(@codigo) do |f| %>
  <% if @codigo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@codigo.errors.count, "error") %> prohibited this code from being saved:</h2>

      <ul>
      <% @codigo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :descripcion %>
  <%= f.text_field :descripcion %>
  <br/>
  
  <%= f.submit 'Crear' %>
  
<% end %>