@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align:center;
  h1 {
    margin-bottom: 10px;
  }
}